<div class="edit_group">
  <div class="edit_group_top">
    <div class="edit_group_top_left">
      <%= cl_image_tag @group.grp_image , :class => 'user_display_image' %>
    </div>
    <div class="edit_group_top_right">
      <%= @group.grp_name %>
    </div>
  </div>
  <div class="edit_group_bottom">
    <%= render :partial => 'group_form' %>
  </div>
</div>
