<div class="edit_user">
  <div class="edit_user_top">
    <div class="edit_user_top_left">
      <%= cl_image_tag @user.image , :class => 'user_display_image' %>
    </div>
    <div class="edit_user_top_right">
      <%= @user.name %>
    </div>
  </div>
  <div class="col-xs-6 col-xs-offset-4 col-md-6 col-md-offset-4 new_user">
    <%= render :partial => 'form' %>
  </div>
</div>
