<% if @current_user.present? %>
  <div id="footer">
    <div class="col-xs-12 navbar-inverse">
      <div class="row" id="bottomNav">
        <div class="col-xs-5 col-xs-offset-1 text-center footer_options">
          <%= link_to  'Groups' , groups_path ,:class => 'glyphicon glyphicon-heart'%>
        </div>
        <div class="col-xs-5 text-center footer_options">
          <% @user = @current_user %>
          <%= link_to  'Settings' , edit_user_path(@user) ,:class => 'glyphicon glyphicon-cog'%>
        </div>
      </div>
    </div>
  </div>
<% end %>
